<html>
    <head>
        <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"> -->
        <link rel="stylesheet" href="static/css/jquery-ui.css">
        <link rel="stylesheet" href="static/css/menubar.css">
        <link rel="stylesheet" href="static/css/dialog-box.css">
        <link rel="stylesheet" href="static/css/dataTables.dataTables.css">

        <script src="/static/js/modules/jquery.menu.js"></script>
        <script src="/static/js/modules/jquery-ui.min.js"></script>
        <script src="/static/js/modules/datagridxl2.js"></script>
        <script src="/static/js/dialogs.js"></script>
        <script src="/static/js/modules/dataTables.js"></script>
        <script src="/static/js/APItest.js"></script>

    </head>
    <body>


        <div id="menu-bar">
            <ul class="main-menu">
                <li>
                    Project
                    <ul>
                        <li class="" id="menubar-project-create-li">
                            <a href="javascript:void(0)">Create...<span>Ctrl+S</span></a>
                        </li>
                        <li class="" id="menubar-project-open-li"><a href="javascript:void(0)" >Open...<span></span></a></li>
                        <li class=""><a href="javascript:void(0)">Save<span>Ctrl+S</span></a></li>
                        <li class="icon print"><a href="javascript:void(0)">Close<span></span></a></li>
                        <li class="icon print" id="menubar-project-delete-li"><a href="javascript:void(0)">Delete....<span></span></a></li>
                        <li>Import</li>
                        <li>Export</li>
                        <li class="separator"></li>

                    </ul>
                </li>

                <li>
                    Well
                    <ul>
                    <li class="" id="menubar-well-create-li"><a href="javascript:void(0)">Create...<span></span></a></li>
                    <li class="" id="menubar-well-delete-li"><a href="javascript:void(0)">Delete...<span></span></a></li>
                    <li class=""><a href="javascript:void(0)">Properties...<span>Ctrl+S</span></a></li>
                    <li>Import</li>
                    <li>Export</li>
                    </ul>
                </li>

                <li>
                    Wellbore
                    <ul>
                        <li class="" id="menubar-wellbore-create-li"><a href="javascript:void(0)">Create...<span>Ctrl+S</span></a></li>
                        <li class="" id="menubar-wellbore-delete-li"><a href="javascript:void(0)">Delete...<span>Ctrl+S</span></a></li>
                        <li class=""><a href="javascript:void(0)">Properties...<span>Ctrl+S</span></a></li>
                        <li class="" id="menubar-wellbore-edit-survey-data-li"><a href="javascript:void(0)">Edit Survey Data....<span>Ctrl+S</span></a></li>
                        <li>Import Survey Data....</li>
                        <li>Create a Top Table....</li>
                        <li>Top Table Properties....</li>
                        <li>Delete Top Tables....</li>
                        <li>Create Temperature Profile....</li>
                    </ul>
                </li>

                <li>
                    Data
                    <ul>
                        <li class=""><a href="javascript:void(0)">Create a Dataset...<span>Ctrl+S</span></a></li>
                        <li class=""><a href="javascript:void(0)">Delete Datasets...<span>Ctrl+S</span></a></li>
                        <li class=""><a href="javascript:void(0)">Dataset Properties...<span>Ctrl+S</span></a></li>
                        <li>Import From a File....</li>
                        <li>Export to a File....</li>
                        <li>Average....</li>
                        <li>Composite....</li>
                        <li>MWA Filter....</li>
                        <li>Create a Lithology Column....</li>
                        <li>Edit a Lithology Column....</li>
                        <li>Utilities
                        <ul>
                            <li>Submenu 1</li>
                            <li>Submenu 2</li>
                            <li>Submenu 3</li>
                        </ul>
                        </li>
                    </ul>
                </li>

                <li>
                  Account
                  <ul>
                    <li class=""><a href="javascript:void(0)">Settings<span></span></a></li>
                    <li class="" id="menubar-logout-li"><a href="javascript:void(0)">Logout<span></span></a></li>
                  </ul>
              </li>

              <li>
                API
                <ul>
                  <li><a href="javascript:void(0)" id="test-api-link">Check Login<span>Ctrl+</span></a></li>
                  <li id="check-active-project"><a href="javascript:void(0)">Active Project<span></span></a></li>
                  <li id="add-dummy-project-li"><a href="javascript:void(0)">Add Dummy Project<span></span></a></li>
                  <li id="add-dummy-well-li"><a href="javascript:void(0)">Add Dummy Well<span></span></a></li>
                  <li id="add-dummy-wellbore-li"><a href="javascript:void(0)">Add Dummy Wellbore<span></span></a></li>

                </ul>
            </li>


            </ul>
        </div>


        <div id="dialog-create-project" title="Create a Project" style="display: none;">
            <form id="form-create-project">
              <div id="page-container-create-project">
                <!-- Page 1 -->
                <div class="page-dialog-create-project" data-page="1">
                  <table>
                    <tbody>
                      <tr>
                        <td><label for="dialog-create-project-name">Project name:</label></td>
                        <td><input type="text" id="dialog-create-project-name" /></td>
                      </tr>
                      <tr>
                        <td><label for="dialog-create-project-description">Description:</label></td>
                        <td><input type="text" id="dialog-create-project-description" /></td>
                      </tr>
                      <tr>
                        <td><label for="dialog-create-project-analyst">Analyst:</label></td>
                        <td><input type="text" id="dialog-create-project-analyst" /></td>
                      </tr>
                      <tr>
                        <td><label for="dialog-create-project-default-depth-unit">Default depth unit:</label></td>
                        <td>
                          <select id="dialog-create-project-default-depth-unit">
                            <option value="m">Meters</option>
                            <option value="ft">Feet</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Page 2 -->
                <div class="page-dialog-create-project" data-page="2" style="display: none;">
                  <textarea id="dialog-create-project-notes" rows="15" style="width: 100%;"></textarea>
                </div>
              </div>
            </form>
        </div>

        <div id="dialog-open-project" title="Open a Project" style="display: none;">
            <form id="form-open-project">
              <div id="page-container-open-project">
                <table id="project-open-table" class="display compact" width="100%"></table>
              </div>
            </form>
        </div>

        <div id="dialog-delete-project" title="Delete a Project" style="display: none;">
          <form id="form-delete-project">
            <div id="page-container-delete-project">
              <table id="project-delete-table" class="display compact" width="100%"></table>
            </div>
            <input type="checkbox" id="dialog-delete-project-delete-wells-checkbox" value="delete-wells"></input>
            <label for="dialog-delete-project-delete-wells-checkbox">Delete all wells in this project that are not shared by other projects</label>
          </form>
        </div>
      
        <div id="dialog-create-well" title="Create a Well" style="display: none;">
          <form id="dialog-form-create-well">
            <div id="page-container-create-well">
      
              <!-- {/* Page 1 */} -->
              <div class="page-dialog-create-well" data-page="1">
                <table>
                  <colgroup id="colgroup">
                    <col style="width: 30%;">
                    <col style="width: 25%;">
                    <col style="width: 5%;">
                    <col style="width: 25%;">
                    <col style="width: 15%;">
                  </colgroup>
                  <tbody>
                    <tr class="dialog-input-table-tr">
                      <td><label class="dialog-label-input" for="dialog-create-well-name">Well name:</label></td>
                      <td colspan="4"><input type="text" name="dialog-create-well-name" class="dialog-text-input" id="dialog-create-well-name" required/></td>
                    </tr>
                    <tr class="dialog-input-table-tr"> 
                      <td><label for="dialog-create-well-description" class="dialog-label-input">Description:</label></td>
                      <td colspan="4"><input type="text" name="dialog-create-well-description" class="dialog-text-input" id="dialog-create-well-description"/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                        <td><label for="dialog-create-well-uid" class="dialog-label-input">Unique well identifier:</label></td>
                        <td colspan="4"><input type="text" name="dialog-create-well-uid" class="dialog-text-input" id="dialog-create-well-uid" required/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                        <td><label for="dialog-create-well-common-well-name" class="dialog-label-input">Common well name:</label></td>
                        <td colspan="4"><input type="text" name="dialog-create-well-common-well-name" class="dialog-text-input" id="dialog-create-well-common-well-name"/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-well-status-select" class="dialog-label-input">Well status:</label></td>
                      <td>
                          <select name="dialog-create-well-status-select" class="dialog-select-input" id="dialog-create-well-status-select">
                              <option value="post-mortem">Post-mortem</option>
                              <option value="pre-spud">Pre-spud</option>
                              <option value="abandoned">Abandoned</option>
                          </select>
                      </td>
                      <td></td>
                      <td colspan="2">Depth Information</td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-well-basin-name" class="dialog-label-input">Basin name:</label></td>
                      <td><input type="text" name="dialog-create-well-basin-name" class="dialog-text-input" id="dialog-create-well-basin-name"/></td>
                      <td></td>
                      <td><label for="dialog-create-well-ground-elevation" class="dialog-label-input">Elevation:</label></td>
                      <td><input type="number" name="dialog-create-well-ground-elevation" class="dialog-text-input" id="dialog-create-well-ground-elevation" value="0"/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-well-dominan-geology-select" class="dialog-label-input">Dominant geology:</label></td>
                      <td>
                          <select name="dialog-create-well-dominan-geology-select" class="dialog-select-input" id="dialog-create-well-dominan-geology-select">
                              <option value="sand">Sand</option>
                              <option value="shale">Shale</option>
                          </select>
                      </td>
                      <td></td>
                      <td><label for="dialog-create-well-water-depth" class="dialog-label-input">Water depth:</label></td>
                      <td><input type="number" name="dialog-create-well-water-depth" class="dialog-text-input" id="dialog-create-well-water-depth"  value="0"/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-well-water-velocity" class="dialog-label-input">Water velocity:</label></td>
                      <td><input type="text" name="dialog-create-well-water-velocity" class="dialog-text-input" id="dialog-create-well-water-velocity" value="5000"/></td>
                      <td></td>
                      <td colspan="2">Density Information</td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><label for="dialog-create-well-density-water" class="dialog-label-input">Water:</label></td>
                      <td><input type="number" name="dialog-create-well-density-water" class="dialog-text-input" id="dialog-create-well-density-water" value="1.03"/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><label for="dialog-create-well-density-formation-fluid" class="dialog-label-input">Formation fluid:</label></td>
                      <td><input type="number" name="dialog-create-well-density-formation-fluid" class="dialog-text-input" id="dialog-create-well-density-formation-fluid" value="1.05"/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td colspan="2">Default Units</td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><label for="dialog-create-well-default-unit-depth-select" class="dialog-label-input">Depth:</label></td>
                      <td>
                          <select name="dialog-create-well-default-unit-depth-select" class="dialog-select-input" id="dialog-create-well-default-unit-depth-select">
                              <option value="m">meters</option>
                              <option value="ft">feet</option>
                          </select>
                      </td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><label for="dialog-create-well-default-unit-density-select" class="dialog-label-input">Density:</label></td>
                      <td>
                          <select name="dialog-create-well-default-unit-density-select" class="dialog-select-input" id="dialog-create-well-default-unit-density-select">
                              <option value="sg">sg</option>
                              <option value="ppg">ppg</option>
                          </select>
                      </td> 
                    </tr>
                  </tbody>
                </table>
    

              </div>
    
              <!-- {/* Page 2 */} -->
              <div class="page-dialog-create-well" data-page="2" style="display: none">
                <textarea id="dialog-create-well-notes" name="dialog-create-well-notes" rows="15" style="width:100%"></textarea>
              </div>
    
            </div>
    
          </form>
        </div>

        <div id="dialog-delete-well" title="Delete a Well" style="display: none;">
          <form>
            <select class="dialog-select-input" id="dialog-delete-well-select" size="8"></select>
          </form>
        </div>

        <div id="dialog-create-wellbore" title="Create a Wellbore" style="display: none;">
          <form id="dialog-form-create-wellbore">
            <div id="page-container-create-wellbore">
    
              <!-- {/* Page 1 */} -->
                <div class="page-dialog-create-wellbore" data-page="1" style="display:none">
                  <table>
                    <colgroup id="colgroup">
                      <col style="width: 30%;">
                      <col style="width: 70%;">
                    </colgroup>
                    <tbody>
                      <tr class="dialog-input-table-tr">
                        <td><label class="dialog-label-input" for="dialog-create-wellbore-well-select">Existing well:</label></td>
                        <td>
                          <select class="dialog-select-input" id="dialog-create-wellbore-well-select" size="1"></select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
      
              <!-- {/* Page 2 */} -->
              <div class="page-dialog-create-wellbore" data-page="2">
                <table>
                  <colgroup id="colgroup">
                    <col style="width: 35%;">
                    <col style="width: 10%;">
                    <col style="width: 5%;">
                    <col style="width: 25%;">
                    <col style="width: 5%;">
                  </colgroup>
                  <tbody>
                    <tr class="dialog-input-table-tr">
                      <td><label class="dialog-label-input" for="dialog-create-wellbore-name">Wellbore name:</label></td>
                      <td colspan="4"><input type="text" name="dialog-create-wellbore-name" class="dialog-text-input" id="dialog-create-wellbore-name" required></td>
                    </tr>
                    <tr class="dialog-input-table-tr"> 
                      <td><label for="dialog-create-wellbore-description" class="dialog-label-input">Description:</label></td>
                      <td colspan="4"><input type="text" name="dialog-create-wellbore-description" class="dialog-text-input" id="dialog-create-wellbore-description"/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-wellbore-uid" class="dialog-label-input">Unique wellbore identifier:</label></td>
                      <td><input type="text" name="dialog-create-wellbore-uid" class="dialog-text-input" id="dialog-create-wellbore-uid"/></td>
                      <td></td>
                      <td><label for="dialog-create-wellbore-air-gap" class="dialog-label-input">Air gap:</label></td>
                      <td><input type="number" name="dialog-create-wellbore-air-gap" class="dialog-text-input" id="dialog-create-wellbore-air-gap" value='0'/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-wellbore-operator" class="dialog-label-input">Operator:</label></td>
                      <td><input type="text" name="dialog-create-wellbore-operator" class="dialog-text-input" id="dialog-create-wellbore-operator"/></td>
                      <td></td>
                      <td><label for="dialog-create-wellbore-total-md" class="dialog-label-input">Total MD:</label></td>
                      <td><input type="number" name="dialog-create-wellbore-total-md" class="dialog-text-input" id="dialog-create-wellbore-total-md" value='0'/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-wellbore-analyst" class="dialog-label-input">Analyst:</label></td>
                      <td><input type="text" name="dialog-create-wellbore-analyst" class="dialog-text-input" id="dialog-create-wellbore-analyst"/></td>                       
                      <td></td>
                      <td><label for="dialog-create-wellbore-total-tvd" class="dialog-label-input">Total TVD:</label></td>
                      <td><input type="number" name="dialog-create-wellbore-total-tvd" class="dialog-text-input" id="dialog-create-wellbore-total-tvd" value='0'/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-wellbore-status-select" class="dialog-label-input">Wellbore status:</label></td>
                      <td>
                        <select name="dialog-create-wellbore-status-select" class="dialog-select-input" id="dialog-create-wellbore-status-select">
                          <option value="abandoned">Abandoned</option>
                          <option value="production">Production</option>
                        </select>
                      </td>                       
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-wellbore-purpose-select" class="dialog-label-input">Wellbore purpose:</label></td>
                      <td>
                        <select name="dialog-create-wellbore-purpose-select" id="dialog-create-wellbore-purpose-select">
                          <option value="development">Development</option>
                          <option value="exploration">Exploration</option>
                        </select>
                      </td>                     
                      <td></td>
                      <td><label for="dialog-create-wellbore-spud-date" class="dialog-label-input">Spud date:</label></td>
                      <td><input type="date" name="dialog-create-wellbore-spud-date" class="dialog-text-input" id="dialog-create-wellbore-spud-date"/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-wellbore-analysis-type-select" class="dialog-label-input">Analysis type:</label></td>
                      <td>
                        <select name="dialog-create-wellbore-analysis-type-select" class="dialog-select-input" id="dialog-create-wellbore-analysis-type-select">
                          <option value="post-mortem">Post-mortem</option>
                          <option value="pre-drill">Pre-drill</option>
                        </select>
                      </td>                   
                      <td></td>
                      <td><label for="dialog-create-wellbore-completion-date" class="dialog-label-input">Completion date:</label></td>
                      <td><input type="date" name="dialog-create-wellbore-completion-date" class="dialog-text-input" id="dialog-create-wellbore-completion-date"/></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-wellbore-trajectory-shape-select" class="dialog-label-input">Trajectory shape:</label></td>
                      <td>
                        <select name="dialog-create-wellbore-trajectory-shape-select" class="dialog-select-input" id="dialog-create-wellbore-trajectory-shape-select">
                          <option value="s-shape">S-shape</option>
                          <option value="j-shape">J-shape</option>
                        </select>
                      </td>                       
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-wellbore-rig-name" class="dialog-label-input">Rig name:</label></td>
                      <td><input type="text" name="dialog-create-wellbore-rig-name" class="dialog-text-input" id="dialog-create-wellbore-rig-name"/></td>                     
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr class="dialog-input-table-tr">
                      <td><label for="dialog-create-wellbore-objective-information" class="dialog-label-input">Objective information:</label></td>
                      <td><input type="text" name="dialog-create-wellbore-objective-information" class="dialog-text-input" id="dialog-create-wellbore-objective-information"/></td>                     
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
    
              <!-- {/* Page 3 */} -->
              <div class="page-dialog-create-wellbore" data-page="3" style="display:none">
                <textarea id="dialog-create-wellbore-notes" name="dialog-create-wellbore-notes" rows="15" style="width:100%"></textarea>
              </div>
    
            </div>
    
          </form>
        </div>

        <div id="dialog-delete-wellbore" title="Delete a Wellbore" style="display: none;">
          <form>
            <div style="margin-bottom:10px">
              <p>Select a well:</p>
              <select id="dialog-delete-wellbore-well-select" size="8" style="width: 100%; height: 100px; font-size: 10pt; padding: 2px;"></select>
            </div>
            <div>
              <p>Select a wellbore:</p>
              <select id="dialog-delete-wellbore-wellbore-select" size="8" style="width: 100%; height: 100px; font-size: 10pt; padding: 2px;"></select>
            </div>
          </form>
        </div>

        <!-- DIALOG EDIT SURVEY -->
        <div id="dialog-wellbore-edit-survey-data" title="Edit Survey Data" style="display: none;">
          <form id="dialog-form-wellbore-edit-survey-data">
            <div id="page-container-wellbore-edit-survey-data">
    
              <!-- {/* Page 1 */} -->
              <div class="page-dialog-wellbore-edit-survey-data" data-page="1" style="display:none">
                <div style="margin-bottom:10px">
                  <p>Select a well:</p>
                  <select id="dialog-wellbore-edit-survey-data-well-select" size="8" style="width: 100%; height: 100px; font-size: 10pt; padding: 2px;"></select>
                </div>
                <div>
                  <p>Select a wellbore:</p>
                  <select id="dialog-wellbore-edit-survey-data-wellbore-select" size="8" style="width: 100%; height: 100px; font-size: 10pt; padding: 2px;"></select>
                </div>

              </div>
      
              <!-- {/* Page 2 */} -->
              <div class="page-dialog-wellbore-edit-survey-data" data-page="2">
                <div class="dialog-wellbore-edit-survey-data-grid-container">
                  <div id="dialog-wellbore-edit-survey-data-grid" style="width:100%;height:280px; border: 1px solid gray;"></div>
                </div>
                <input type="checkbox" id="page-dialog-wellbore-edit-survey-data-calculate-tvd-checkbox" value="delete-wells" style="margin-top: 5px;"></input>
                <label for="page-dialog-wellbore-edit-survey-data-calculate-tvd-checkbox">Calculate TVD by MD and Inclination</label>
              </div>
    
            </div>
    
          </form>

        </div>


        


        <script>
            $(document).ready(function () {

              $("li#add-dummy-project-li").click(function () {
                    console.log("create-project-clicked");
                    addDummyProject();
              });
              $("li#add-dummy-well-li").click(function () {
                    console.log("create-well-clicked");
                    addDummyWell();
              });
              $("li#add-dummy-wellbore-li").click(function () {
                    console.log("create-wellbore-clicked");
                    addDummyWellbore();
              });
            
              // Bind click event to the "Create..." menu item
              $("li#menubar-project-create-li").click(function () {
                  console.log("create-project-clicked");
                  $("#dialog-create-project").dialog("open");
              });
              $("li#menubar-project-open-li").click(function () {
                  console.log(getProjects());
                  $("#dialog-open-project").dialog("open");
              });

              $("li#menubar-project-delete-li").click(function () {
                  console.log(getProjects());
                  $("#dialog-delete-project").dialog("open");
              });


              $("#menubar-logout-li").click(function () {
                  console.log("logout-clicked");
                  logoutAccount();
              }); 
              $("a#test-api-link").click(function () {
                  console.log("test-api-clicked");
                  checkSession();
              });
              $("#check-active-project").click(function () {
                  console.log("check-active-project");
                  getActiveProject();
                  const activeProject = JSON.parse(localStorage.getItem('activeProject'));
                  console.log("test active project local: ", activeProject);              
              });
              
              // WELL
              $("li#menubar-well-create-li").click(function () {
                  console.log("create-well-clicked");
                  $("#dialog-create-well").dialog("open");
              });
              $("li#menubar-well-delete-li").click(function () {
                  console.log("delete-well-clicked");
                  $("#dialog-delete-well").dialog("open");
              });
              
              // WELLBORE
              $("li#menubar-wellbore-create-li").click(function () {
                  console.log("create-wellbore-clicked");
                  $("#dialog-create-wellbore").dialog("open");
              });
              $("li#menubar-wellbore-delete-li").click(function () {
                  console.log("delete-wellbore-clicked");
                  $("#dialog-delete-wellbore").dialog("open");
              });
              
              $("li#menubar-wellbore-edit-survey-data-li").click(function () {
                  console.log("edit-survey-data-wellbore-clicked");
                  $("#dialog-wellbore-edit-survey-data").dialog("open");
              });  


            });



        </script>

    </body>
</html>
