.small-dialog-title .ui-dialog-title {
    font-size: 9pt; /* Adjust to your preference */
    font-weight: normal;
    line-height: 1;
}

/* Optionally reduce padding in the title bar */
.ui-dialog-titlebar {
    padding: 2px !important;
    border-radius: 0px;
}
.ui-dialog-buttonpane button {
    font-size: 9pt !important;
    padding: 2px 3px !important;
    min-width: 50px;
}

/* .ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .foo, .ui-draggable, .ui-resizable {
    background-color:rgb(236, 236, 236) !important;
} */

.ui-widget-content, .ui-resizable {
    background-color:rgb(255, 255, 255) !important;
}

table.dataTable td {
    font-size: 9pt;
}
#dt-search-0, #dt-search-1 {
    padding: 2px !important;
}
/* table {
    border: 1px solid;
}
table td {
  border: 1px solid;
} */
.dialog-text-input, .dialog-td-text {
    width: 100%;
}
.dialog-select-input {
    width: 100%;
    font-size: 9pt;
}

#dialog-wellbore-edit-survey-data-grid {
    height: 730px;
    width: 275px;
}
.dgxl-contextMenuItemList {
    font-size: 9pt !important; /* Adjust this value as needed */
    padding: 2px 1px !important;
}
.dgxl-contextMenuItem {
    height: 25px !important;
    line-height: 25px !important;
}
.dgxl-contextMenuItem-highlight {
    background-color: #1e90ff !important;
    color: white;
}
.dialog-datagridxl-input {
    width: 100%;
    border: 1px solid gray;
}

/* jquery tab */
/* .ui-tabs .ui-tabs-panel {
    padding: 0em 0em 0em 0;
} */
.ui-tabs .ui-tabs-nav {
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor { 
    padding: 0px;
    margin: 2px 5px;
    border-radius: 0px;
}