.small-dialog-title .ui-dialog-title {
    font-size: 9pt; /* Adjust to your preference */
    font-weight: normal;
    line-height: 1;
}

/* Optionally reduce padding in the title bar */
.ui-dialog-titlebar {
    padding: 2px !important;
    border-radius: 0px;
}
.ui-dialog-buttonpane button {
    font-size: 9pt !important;
    padding: 2px 3px !important;
    min-width: 50px;
}
/* .small-dialog-title {
    padding: 2px !important;
} */
/* .small-dialog-button {
    font-size: 10pt !important;
    padding: 3px 3px !important;
    min-width: 50px;
} */
.modal-label-input {
    font-size: 10pt;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.modal-text-input {
    font-size: 10pt;
    width: 100%;
    /* margin-top: 10px; */

}
.modal-input-table-tr {
    height: 25px;
}

/* .ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .foo, .ui-draggable, .ui-resizable {
    background-color:rgb(236, 236, 236) !important;
} */

.ui-widget-content, .ui-resizable {
    background-color:rgb(255, 255, 255) !important;
}

table.dataTable td {
    font-size: 9pt;
}
#dt-search-0 {
    padding: 2px !important;
}
/* table td {
  border: 1px solid;
} */
 
.dialog-text-input {
    width: 100%;
}
.dialog-select-input{
    width: 100%;
    font-size: 9pt;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}